body {
	font: 100% Helvetica, sans-serif;
	background-color: #0E0b16;
	color: #E7DFDD;
	div {
		footer {
			h1 {
				background-color: blue;				
			}
		}
		header {
			h1 {
				background-color: red;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				li {
					float: left;
				}
				li a {
					color: white;
					display: block;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
				}
			}
		}
		aside {
			h1 {
				background-color: green;
			}
			ul {
 				list-style-type: none;
    			margin: 0;
    			padding: 0;
    			width: 200px;
    			li a {
    				color: white;
 				    display: block;
    				padding: 8px 16px;
    				text-decoration: none;
				}
			}
		}
	}
}